body{
    justify-content: center;
    align-items: center;
    display: grid;
    width: 100%;
}
h3, h1, h4, h5, p {
    justify-content: center;
    display: grid;
}
.button{
    justify-content: center;
    justify-items: center;
    display: grid; 
    text-align: center;
}
.image{
    justify-content: center;
    align-items: center;
    display: grid;
}
button{
    background-color: black;
    color: white;
    width: 60%;
    height: 10vh;
    border-radius: 17px;
}
button:hover{
    transform: scale(1.2,1.2);
}
.list{
    display: flex;
    height: 180px;
    width: 50%;
    gap: 10px;
    margin-top: 10px;
}
.list1:hover{
    transform: scale(1.2,1.2);
}
.list2:hover{
    transform: scale(1.2,1.2);
}
.list3:hover{
    transform: scale(1.2,1.2);
}
.list4:hover{
    transform: scale(1.2,1.2);
}
.skills{
    display: flex;
    height: 180px;
    width: 50%;
    gap: 20px;
    margin-left: 430px;
}
p{
    margin-top: 30px;
}
.direction{
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    border: 2px solid black;
    height: 250px;
    width: 24%;
    padding: 10px;
    margin-top: 15px;
}
.contact{
    margin-left: 5px;
}
.message{
    height: 80px;
    width: 95%;
    margin-top: 5px;
}
form button{
    margin-left: 70px;
}